recursive-include mkdocs_gds *.ico *.js *.css *.png *.html *.eot *.svg *.ttf *.woff *.yml
recursive-include mkdocs_gds *.ttf *.woff *.woff2 LICENSE*
recursive-exclude * __pycache__ demo
recursive-exclude * *.py[co]
include